
:root{
   --Azul:#3F7E89;
   --Amarillo:#DFC442;
   --Negro:#000000;
   --amarillocafe:#AB9B57;
}
* {
    text-align: center;
}
@font-face {
    font-family: menus;
    src: url("Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
    font-family: titulo;
    src: url("Fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf");
}
@font-face {
    font-family: cuerpo;
    src: url("Fonts/Jacques_Francois/JacquesFrancois-Regular.ttf");
}
@font-face {
    font-family: intermedium;
    src: url("./Fonts/Inter/static/Inter-Medium.ttf");
}
@font-face {
    font-family: cuerpo2;
    src: url("Fonts/Istok_Web/IstokWeb-Regular.ttf");
}
.menu1 {
    text-align: center;
    font-family: intermedium;
    color: black;
}
.menu1 h1 {
    display: inline;
    font-family: intermedium;
    padding: 20px;
    font-size: 16px;
}
.boton1 { 
    background-color: var(--Azul);
    font-family: cuerpo;
    width: 445px;
    height: 125px;
    clip-path: ellipse(60px 30px);
    color: #AB9B57;
    font-size: xx-large;
    font-weight: lighter;
}
.whoweare {
    display: inline-block;
    width: 500px;
    text-align: center;
}
.tendenciesblog {
    display: inline-block;
    width: 500px;
    text-align: center;
}
.whoweare img { 
    width: 400px;
    color: #AB9B57;
}
.tendenciesblog img { 
    width: 400px;
    color: #AB9B57;
}
 .titulo {
color: #AB9B57;
}
.whoweare h2 {
    color: #AB9B57;
}
.tendenciesblog h2 {
    color: #AB9B57;
}
.gallery { 
    display:grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3, 25vw);
grid-gap: 15px;
}
.gallery img { 
    width: 100%;
height: 100%;
object-fit: cover;
}
.info { width: 20%;}
.grid { width: 50%;
padding: 5%;}
