
:root{
   --Azul:#3F7E89;
   --Amarillo:#DFC442;
   --Negro:#000000;
   --amarillocafe:#AB9B57;
}
* {
    text-align: center;
}

@font-face {
    font-family: menus;
    src: url("Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
    font-family: titulo;
    src: url("Fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf");
}
@font-face {
    font-family: cuerpo;
    src: url("Fonts/Jacques_Francois/JacquesFrancois-Regular.ttf");
}
@font-face {
    font-family: intermedium;
    src: url("./Fonts/Inter/static/Inter-Medium.ttf");
}
@font-face {
    font-family: cuerpo2;
    src: url("Fonts/Istok_Web/IstokWeb-Regular.ttf");
}
.menu1 {
    text-align: center;
    font-family: intermedium;
    color: black;
}
.menu1 h1 {
    display: inline;
    font-family: intermedium;
    padding: 20px;
    font-size: 16px;
}
.boton1 { 
    background-color: var(--Azul);
    font-family: cuerpo;
    width: 445px;
    height: 125px;
    clip-path: ellipse(60px 30px);
    color: #AB9B57;
    font-size: xx-large;
    font-weight: lighter;
}
.boton2 { 
    background-color: var(--Azul);
    font-family: cuerpo;
    width: 445px;
    height: 125px;
    clip-path: ellipse(60px 30px);
    color: white;
    font-size: xx-large;
    font-weight: lighter;
}
.boton3 { 
    
    background-color: var(--Azul);
    font-family: cuerpo;
    width: 445px;
    height: 125px;
    clip-path: ellipse(60px 30px);
    color: white;
    font-size: large;
    font-weight: lighter;
}
.whoweare {
    display: inline-block;
    width: 500px;
    text-align: center;
}
.tendenciesblog {
    display: inline-block;
    width: 500px;
    text-align: center;
}
.whoweare img { 
    width: 400px;
    color: #AB9B57;
}
.tendenciesblog img { 
    width: 400px;
    color: #AB9B57;
    text-align: center;
}
 .titulo {
color: #AB9B57;
}
.whoweare h2 {
    color: #AB9B57;
    text-align: center;
}
.tendenciesblog h2 {
    color: #AB9B57;
    text-align: center;
}
.gallery { 
    display:grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3, 25vw);
grid-gap: 15px;
}
.gallery img { 
    width: 100%;
height: 100%;
object-fit: cover;
}
.info { width: 100%;}
.grid { width: 50%;
padding: 5%;}

 .segmento4 p{
color: #000000;
text-align: left;
 }
 .segmento7 h1{
    color: var(--amarillocafe);
    text-align: right
     }
     .segmento8 h1{
        color: var(--amarillocafe);
        text-align:right
         }
        .segmento9 h1{
           color: var(--Azul);
           text-align:center;
           font-family:cuerpo;
            }
.info p{
    text-align: center;
    color: #000000;
   font-family: cuerpo;
}
.texto{
    display: inline-block;
    height: 30px;
    margin: 10px;
    padding: 10px;
}

.acomodo{
    display: flex;
    flex-direction: row;
}
.acomodo1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.acomodo1 h1 {
    color: #AB9B57
}
h2{
    margin-bottom: 20px;
    text-align: center;
}
.texto1{
    margin-top: 60px;
    padding-top: 50px;
    color: #AB9B57;
}
.h1 {
    color: #3F7E89;
}
.boton4 { 
    background-color: var(--Azul);
    font-family: cuerpo;
    width: 445px;
    height: 125px;
    clip-path: ellipse(60px 30px);
    color: white;
    font-size: xx-large;
    font-weight: lighter;
    align-items: center;
}
